pandas
#numpy==1.26.4
numpy
ipykernel
matplotlib
#matplotlib==3.5.3
python-dotenv
missingno
pyarrow
##ipywidgets>=7.0.0
ipywidgets
#plotly==5.22.0
plotly
#nbformat>=4.2.0
nbformat
##sketch==0.5.2
idna
urllib3
certifi
markupsafe
pyyaml
aiohttp
annotated_types
